<div class="row">
    <button class="margin-right-tenpixel" (click)="addReturnDialog()" mat-raised-button>Return</button>
</div>
<div class="row">
    <mat-form-field class="margin-right-tenpixel" appearance="outline">
        <mat-label>DR search</mat-label>
        <input type="text" name="drNumberFilter" [(ngModel)]="drNumberFilter" matInput>
    </mat-form-field>
    <button class="margin-right-tenpixel" (click)="search()" mat-raised-button>Search</button>&nbsp;&nbsp;
    <mat-radio-group name="orders" [(ngModel)]="orderBy">
        <mat-radio-button class="margin-right-tenpixel" *ngFor="let c of orders" [value]="c.id">
            {{c.name}}
        </mat-radio-button>
    </mat-radio-group>
</div>
<div class="row">
        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30, 40, 50]" [showFirstLastButtons]="true"
        [length]="totalRecords" [pageIndex]="currentPage" (page)="pageEvent($event)"> </mat-paginator>
    <table mat-table [dataSource]="records" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">
                {{element.Id}}
            </td>
        </ng-container>

        <ng-container matColumnDef="drnumber">
            <th mat-header-cell *matHeaderCellDef>DR #</th>
            <td mat-cell *matCellDef="let element">{{element.DRNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let element">{{element.CustomerName}}</td>
        </ng-container>

        <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let element">{{element.Project}}</td>
        </ng-container>

        <ng-container matColumnDef="projectengineer">
            <th mat-header-cell *matHeaderCellDef>Project Eng</th>
            <td mat-cell *matCellDef="let element">{{element.ProjectEngineer}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.Date}}</td>
        </ng-container>

        <ng-container matColumnDef="createdby">
            <th mat-header-cell *matHeaderCellDef>Created By</th>
            <td mat-cell *matCellDef="let element">{{element.CreatedBy}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button class="margin-right-tenpixel" (click)="editReturnDialog(element)" mat-raised-button>Edit</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
</div>