<a [routerLink]="['/maintenance']">Back</a>
<div class="container center-align">
    <form #changePasswordForm="ngForm" (ngSubmit)="onSave()" autocomplete="off" novalidate>
        <div mat-dialog-content>
            <p>Change your password</p>
            <div class="row">
                <mat-form-field class="margin-right-tenpixel">
                    <input type="text" matInput placeholder="Old Password" name="password.OldPassword" [(ngModel)]="password.OldPassword"
                        required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="margin-right-tenpixel">
                    <input type="text" matInput placeholder="New Password" name="password.NewPassword" [(ngModel)]="password.NewPassword"
                        required>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button [disabled]="changePasswordForm.invalid">Save</button>
            <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>