<mat-form-field class="margin-right-tenpixel">
    <input type="text" matInput placeholder="Filter" name="filter" (keyup)="onFilterChange()" [(ngModel)]="filter" required>
</mat-form-field>
<br>
<table mat-table [dataSource]="records" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <span (click)="onSelect(element)" class="hand-curson green-background">Select</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.Name}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{element.Address}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
<br>
<br>
<button mat-raised-button (click)="onClose()">Close</button>